h1{
    font-size: 4rem;
}


.Main{
    text-align: center;
}

.titleContent{
    display: flex;
    background-color: crimson;
}

.title, .arrow{
    width: 50%;
    font-size: 2.5rem;
    font-weight: 700;
}

.desciptioncontent{
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(245, 39, 80);
}

.description{
    padding: 5%;
}